html, body {
    margin: 0;
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.logo {
    background-image: url('../background.jpg');
    background-size: cover;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    padding: 30px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
}

.footer {
    padding: 30px;
}

ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    margin: 0;
    padding: 0;
}

input, label {
    display:block;
}